<% if(!session.user) { %>
    <h3>Bienvenido a <%= title %></h3>
    <p>¡El portal donde podrás crear tus propios juegos!</p>
<% } else { %>
    <h3>Bienvenido a <%= title %> <%= session.user.username %></h3>
    <p>¡El portal donde podrás crear tus propios juegos!</p>
<% } %>
